a {
    text-decoration: none;
}

.header {
    margin: 92px 24px 96px;
    display: grid;
    grid-template-columns: 454px 146px 394px;
    height: 105px;
    font-family: 'Raleway';
}

.header__menu {
    display: grid;
    grid-template-columns: 99px 182px 111px;
    padding-top: 44px;
    padding-left: 27px;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.01em;
}

.header__link_non_circle {
    list-style: none;
}

.header__link_circle {
    list-style: circle;
}

.border__menu_lots {
    border-bottom: 1px solid black;
}

.border__menu_about {
    border-bottom: 1px solid black;
}
.header__logo {
    display: grid;
    justify-content: space-around;
}

.header__logo-image {
    width: 138px;
    height: 105px;
}

.header__address {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.address {
    margin-left: 186px;
}

.number { 
    border-bottom: 1px solid black;
}
.mail {
    border-bottom: 1px solid black;
}


.cover {
    display: grid;
    
    max-width: 1100px;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-size: 125% auto;
    background-repeat: no-repeat;
    background-position: center;

    
}
.background__opacity {
    display: grid;
    grid-template-rows: repeat(53, 20px);
    grid-template-columns: repeat(33, 20px);
    justify-content: space-between;
    width: 1100px;
    height: 757px;
    background-color: rgb(0 0 0 /.6);
}


.cover__title {
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(33, 20px);
    padding-top: 165px;
    
    
}

.aligned-text {
    color: white;
    text-transform: uppercase;

}

.aligned-text__left {
    display: grid;
    grid-template-columns: 106px auto;
    grid-column: 3;
    grid-row: 1;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    padding-left: 10px;


}

.aligned-text__letter_o {
    letter-spacing: 50px;
}

.aligned-text_center {
    display: grid;
    grid-template-columns: 183px auto auto;
    grid-column: 18;
    grid-row: 8;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
    margin: -5px;
    justify-items: end;

}

.aligned-text_letter_b {
    
    letter-spacing: 61px;
    
}

.aligned-text_right {
    display: grid;
    grid-template-columns: 134px 97px auto;
    grid-column: 33;
    grid-row: 14;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.6em;
    margin: -5px;

}

.aligned-text_letter_d {
    letter-spacing: 61px;
}

.aligned-text_letter_o2 {
    letter-spacing: 30px;
    
}

.cover__description-text {
    grid-column: 3/23;
    grid-row: 34;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    margin: 8px;
    word-spacing: 19px;
}

.cover__description-text_auction {
    word-spacing: 22px;
}

.cover__description-text_things {
    word-spacing: 18px;
}

.btn {
    grid-column: 24/33;
    grid-row: 33;
    margin: 8px;
}

.bet-button {
    display: block;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    width: 256px;
    height: 51px;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    



}

.lots {
    max-width: 1052px;
    height: 692px;
    margin-top: 179px;
    margin-left: 24px;
}

.lots__title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 40px;
}



.opacity {
    display: flex;
    background-color: rgb(0 0 0 /.6);
    width: 334px;
    height: 563px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.lots__card-item {
    display: flex;
}

.card_type_film {
    margin-top: 27px;
    width: 334px;
    height: 563px;
    background-image: url(/images/card-lot-01.jpg);
    background-size: 160% auto;
    background-repeat: no-repeat;
    background-position: center;
   
}

.card_type_book {

    margin-top: 27px;
    width: 334px;
    height: 563px;
    background-image: url(/images/card-lot-02.jpg);
    background-size: 160% auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

.card_type_picture {
    margin-top: 27px;
    width: 334px;
    height: 563px;
    background-image: url(/images/card-lot-03.jpg);
    background-size: 160% auto;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.card__title{
    display: flex;
    color: white;
    margin-left: 40px;
    padding-top: 49px;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    width: 254px;
    height: 110px;


    
}

.card__text-film {
    width: 254px;
    height: 360px;
    color: white;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
    padding-top: 119px;
    display: inline;
    align-content: space-around;
}

.card__text-film-indent{
    word-spacing: -1px;
}

.card__text-book{
    width: 254px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
    margin-bottom: 49px;
    display: inline;
}

.card__text-book-indent{
    word-spacing: 2px;
}

.card__text-picture {
    width: 254px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
    align-content: space-around;
    display: inline;
}

.card__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots__look-more-link {
    width: 192px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    margin-left: 40px;
    margin-top: 30px;
    border-bottom: 1px solid black;

}

.card__title-border {
   text-decoration: underline;
}

.card__text-new {
    word-spacing: -2px;
}

.card__text-neww {
    word-spacing: -1px;
}
.about {
    width: 1052px;
    height: 595px;
    margin-top: 181px;
    margin-left: 71px;
}

.about__column {
    display: flex;
    gap: 72px;
}

.about__colomn-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    height: 240px;
    border-radius: 120px;
    background-color: black;
    
}

.about__logo{
    width: 146px;
}

.about__colomn-text {
    display: flex;
    width: 693px;
    height: 449px;


    flex-direction: column;

}

.about__title {
    display: flex;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
    margin-top: 102px;
    margin-bottom: 100px;


}

.about__text {
    display: inline;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 23px;
    


}

.about__text-inerit {
    word-spacing: 1px;
}

.about__text-inerit-dnevnik {
    word-spacing: 4px;
}

.about__text-inerit-child {
    word-spacing: 2px;
}

.about__text-inerit-loys {
    word-spacing: 3px;
}

.about__text-inerit-lot {
    word-spacing: -1px;
}

.footer {
    display: flex;
    width: 1000px;
    height: 98px;
    margin: 141px 26px 88px 26px;
    justify-content: space-between;
}

.footer__address-text {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.footer__address {
    width: 240px;
    margin-left: 24px;
    
}

.footer__menu {
    display: flex;
    padding-top: 5px;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    flex-direction: column;
    text-align: center;
    margin-left: 5px;
}

.footer__link_non_circle {
    list-style: none;
}

.footer__border__menu_lots {
    border-bottom: 1px solid black;
}

.footer__border__menu_about {
    border-bottom: 1px solid black;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-right: 24px;
    padding-top: 5px;
}

.footer__list-item {
    width: 48px;
    height: 48px;
    list-style: none;
}

.footer__list_link {
    margin: 48px 48px;
    border-radius: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}