a {
    text-decoration: none;
}

.header {
    margin: 92px 24px 96px;
    display: grid;
    grid-template-columns: 454px 146px 394px;
    height: 105px;
    font-family: 'Raleway';
}

.header__menu {
    display: grid;
    grid-template-columns: 99px 182px 111px;
    padding-top: 28px;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.01em;
}

.header__link_non_circle {
    list-style: none;
}

.header__link_circle {
    list-style: circle;
}

.border__menu_lots {
    border-bottom: 1px solid black;
}

.border__menu_about {
    border-bottom: 1px solid black;
}
.header__logo {
    display: grid;
    justify-content: space-around;
}

.header__logo-image {
    width: 138px;
    height: 105px;
}

.header__address {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.address {
    margin-left: 186px;
}

.number { 
    border-bottom: 1px solid black;
}
.mail {
    border-bottom: 1px solid black;
}


.cover {
    display: flex;
    max-width: 1100px;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    
}
.background__opacity {
    display: grid;
    justify-content: space-between;
    width: 1100px;
    height: 757px;
    background-color: rgb(0 0 0 /.6)
    
    
}


.cover__title {
    padding-top: 165px;
    
    
}

.aligned-text {
    display: block;
    color: white;
    text-transform: uppercase;

}

.aligned-text__left{
    
    font-family: Raleway;
font-size: 100px;
font-weight: 700;
line-height: 115px;
letter-spacing: 0.3em;
text-align: left;

}

.aligned-text_center {
    font-family: Raleway;
font-size: 100px;
font-weight: 700;
line-height: 100px;
letter-spacing: 0.3em;
text-align: left;
    
    text-align: center;
}

.aligned-text_right {
    font-family: Raleway;
font-size: 100px;
font-weight: 700;
line-height: 100px;
letter-spacing: 0.6em;
text-align: right;
    
    text-align: right;
}

.cover__description-text {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.btn {
  
}

.bet-button {
    display: block;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    width: 256px;
    height: 51px;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;



}